@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: "DM Sans", sans-serif;
  background-color: #171b1a;
}

@layer components {
  .section-layout {
    @apply flex flex-col items-center text-center gap-10 mt-20 lg:flex-row lg:items-start lg:text-left;
  }

  .header-icon {
    @apply flex items-center gap-3;
  }

  .section-hide{
    @apply hidden lg:block lg:w-1/3
  }

  .section-title{
    @apply font-bold text-white text-[36px] md:text-[48px] text-center lg:text-left mt-12
  }

  .blog-sections{
    @apply flex flex-col gap-10 w-full md:w-1/2 px-4 md:px-0
  }

  .blog-h6-design{
    @apply text-[12px] font-normal text-[#747474] mt-2
  }

  .blog-h5-design{
    @apply font-bold text-[18px] leading-6 justify-center mt-2
  }

  .pricing-btn{
    @apply bg-[#410200] px-4 py-2 rounded-e-3xl text-center mb-4 text-[16px] font-bold text-[#fff] mt-3
  }

  .pricing-btns{
    @apply border-2 border-[#f89222] px-3 py-2 my-5 rounded-md text-[#fff] text-[16px] font-bold
  }

  .from-label{
    @apply block text-xl font-medium mb-2 text-[#fff]
  }

  .from-input{
    @apply border border-[#f5bd4d] p-2 rounded w-full bg-black
  }
}